@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: 105 0 0; /* dark red */
  --color-secondary: 211 0 1; /* light red */
  --color-tertiary: 240 231 233; /* rose */
  --color-accent: 21 209 216; /* cyan */
}

.gradient__primary {
  stop-color: rgb(var(--color-primary));
}

.gradient__secondary {
  stop-color: rgb(var(--color-secondary));
}

.gradient__accent {
  stop-color: rgb(var(--color-accent));
}

.text-mono {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

/* TRIX */

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

