<div class="relative border dark:border-white border-black rounded-xl mt-2 pb-6 pt-6">
  <div class="absolute top-0 left-0 p-1">
    <p class="text-sm text-mono"><%= username %> / README<span class="text-gray-400">.MD</span></p>
  </div>
  <div class="p-2">
  <%= sanitize readme_html %>
  </div>
</div>